body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    height: 100vh;
    padding: 16px; 
    margin: 0;
    box-sizing: border-box;
    
}

#main{
    text-align: center; 
    background-color: #fff;
    padding: 16px 16px 40px 16px;
    border-radius: 20px;

}

img{
    width: 288px;
    border-radius: 20px;
}

h1{
    font-size: 18px;
    line-height: 21px;
    color: hsl(218, 44%, 22%);
}

#main p{
    font-size: 15px;
    line-height: 20px;
    color: hsl(216, 15%, 48%);
    margin: 0;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    display: flex;
    /* position: fixed; */
    /* bottom: 7px; */
}
.attribution a { 
    color: hsl(228, 45%, 44%); 

}

@media (max-width: 768px) {
    img {
        width: 250px; 
    }

    #main {
        padding-bottom: 16px;
    }
    #main p{
        font-size: 14px;
    }
}

@media (max-width: 375px) {
    img {
        width: 230px; 
    }

    #main {
        padding: 18px;
    }
}